<h1 mat-dialog-title>Change password</h1>

<div mat-dialog-content>
    <form [formGroup]="passwordForm">
        <div class="row">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
                <mat-error *ngIf="password?.touched && password?.invalid">
                    <ng-container *ngIf="password?.errors?.['required']">Password is required!<br></ng-container>
                    <ng-container *ngIf="password?.errors?.['minlength']">At least 8 characters<br></ng-container>
                    <ng-container *ngIf="password?.errors?.['shouldHaveUpper']">At least one capital
                        character<br></ng-container>
                    <ng-container *ngIf="password?.errors?.['shouldHaveNum']">At least one special
                        character<br></ng-container>
                    <ng-container *ngIf="password?.errors?.['shouldHaveSpecial']">At least one number</ng-container>
                </mat-error>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Confirm password</mat-label>
                <input matInput formControlName="passowrdConfirmation" type="password">
                <mat-error *ngIf="passowrdConfirmation?.hasError('mismatch')">Password doesn't match</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button (click)="submit()" [disabled]="!passwordForm.valid">Submit</button>
</div>
